* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {#contagem-regressiva {
    background-color: #4b0903;
    color: white;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    margin: 20px 0;
}

#contador {
    font-size: 2em;
    font-weight: bold;
}

    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #444;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom right, #4b0903, #ff9a9e);
    padding: 80px 20px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

.btn {
    background-color: rgb(2, 105, 54);
    color: #f7f7f7;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #ff6f61;
    color: white;
}

section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.foto-casal {
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.foto-casal:hover {
    transform: scale(1.05);
}

.galeria-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.galeria-imagens img {
    width: calc(33% - 10px);
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria-imagens img:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #ff9a9e;
}

footer {
    background-color: #4b0903;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
